---
---
<header>
	<nav>
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#featured-posts">ARKtifacts</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>

<style>
	header {
		background-color: rgba(19, 21, 26, 0.8);
		padding: 1rem 0;
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
	nav ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	nav li {
		margin: 0 1rem;
	}
	nav a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		transition: color 0.3s ease;
	}
	nav a:hover {
		color: #eb5e41;
	}
</style>